**
!.gcloudignore
!package.json
!package-lock.json
!backend/
!backend/ai/
!backend/ai/package.json
!backend/ai/src/
!backend/ai/src/**
!backend/ai-service/
!backend/ai-service/Dockerfile
!backend/ai-service/Dockerfile.dockerignore
!backend/ai-service/cloudbuild.yaml
!backend/ai-service/package.json
!backend/ai-service/tsconfig.json
!backend/ai-service/src/
!backend/ai-service/src/**
!backend/functions/
!backend/functions/package.json
backend/functions/package-lock.json
!firebase-rules/
!firebase-rules/package.json
